<% collection.each do |item| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <div style="text-align: center">
          <%= link_to purchase_path(item), class: "container_relative" do %>
              <%= image_tag(item.image_url, class: "img-thumbnail") %>
              <div class="put_bottom_right">
                <h3>
                  <span class="label label-success">
                        <%= item.price %>
                  </span>
                </h3>
              </div>
          <% end %>
        </div>
        <div class="caption">
          <h3 class="hide_overflow"><%= item.name %></h3>

          <p style="height: 36px">
            <% item.ingredients.each do |ingredient| %>
                <span class="label label-warning"> <%= link_to ingredient.product.name, search_product_path(ingredient.product.name) %></span>
            <% end %>
          </p>

          <p>
            <a href="#" class="btn btn-primary" role="button"> button </a>
            <a href="#" class="btn btn-default" role="button">another button </a>
          </p>
        </div>
      </div>
    </div>

<% end %>