<div class="page-header">
  <h1 class="big_flex_item"><%= controller_name.humanize %>
    <% if @cocktails.empty? %>
        <small>have not been created yet</small>
    <% else %>
        <small><%= action_name %></small>
    <% end %>

  </h1>
  <div>
    <%= form_tag({:controller => "welcome", :action => "search_by_name"}, method: :get, class: 'search_form') do %>
        <%= text_field_tag :name, nil %>
        <%= submit_tag 'Search' %>

    <% end %>
  </div>
</div>
<div class="body_panel panel-default">


  <% @shots = @cocktails.select { |item| item.volume_type == 'short' } %>
  <% @longs = @cocktails.select { |item| item.volume_type == 'long' } %>

  <% unless @shots.blank? %>
      <div class="panel-body">
        <div class="row-eq-height">
          <h1>Shots</h1>
          <%= render partial: 'collection_form', locals: {collection: @shots} %>
        </div>
      </div>
  <% end %>


  <% unless @longs.blank? %>
      <div class="panel-body">
        <div class="row-eq-height">
          <h1>Longs</h1>
          <%= render partial: 'collection_form', locals: {collection: @longs} %>
        </div>
      </div>
  <% end %>


</div>







