<div class="page-header">
  <h1><%= controller_name.humanize %>
    <% if @cocktails.empty? %>
        <small>have not been created yet</small>
    <%else%>
        <small><%= action_name %></small>
    <% end %>

  </h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Value</th>
        <th>Price</th>
        <th>Edit\Remove</th>
      </tr>

      <% @cocktails.each do |cocktail| %>
          <tr>
            <td> <%= cocktail.id %></td>
            <td> <%= link_to cocktail.name, admin_cocktail_path(cocktail) %></td>
            <td> <%= cocktail.value %></td>
            <td> <%= cocktail.price %></td>
            <td>
              <div class="btn-group" role="group">
                <%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_admin_cocktail_path(cocktail)%>
                <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, admin_cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure' } %>
              </div>
            </td>
          </tr>
      <%end%>
    </table>

    <div class="btn-group left" role="group">

      <%= link_to "<span class=\"glyphicon glyphicon-plus\"></span> Add new cocktail".html_safe, action: :new %>
      <%= link_to "Go to products <span class=\"glyphicon glyphicon-arrow-right\"></span>".html_safe, admin_products_path %>
    </div>
  </div>
</div>
